[activity]
name = Meditation sacree
description = Le gourou medite en isolement

# --- SPAWN CONDITION ---
spawnMinLegitimity = 0
spawnMinVisibility = 0
spawnMinIllegality = 0
spawnMinMember = 0
spawnMaxMember = 0

# --- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 0
successMaxMember = 0

# --- IMPACT SUCCESS ---
successLegitimity = 1
successVisibility = 0
successIllegality = -1
successFund = 0

# --- IMPACT FAIL ---
failLegitimity = 0
failVisibility = 0
failIllegality = 0
failFund = 0

time = 1
PA = 1
cost = 0


[activity]
name = Propagande de rue
description = En temps que gourou vous vous rendez au pres de vos fideles pour repandre la bonne parole

# --- SPAWN CONDITION ---
spawnMinLegitimity = 0
spawnMinVisibility = 0
spawnMinIllegality = 0
spawnMinMember = 0
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 0
successMaxMember = 0

# --- IMPACT SUCCESS ---
successLegitimity = 2
successVisibility = 3
successIllegality = 0
successFund = 0

# --- IMPACT FAIL ---
failLegitimity = -2
failVisibility = 1
failIllegality = 0
failFund = 0

time = 2
PA = 1
cost = 0


[activity]
name = Propagande de masse
description = Les membres recrutent dans la rue

# --- SPAWN CONDITION ---
spawnMinLegitimity = 2
spawnMinVisibility = 0
spawnMinIllegality = 0
spawnMinMember = 5
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 3
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 2
successMaxMember = 5

# --- IMPACT SUCCESS ---
successLegitimity = 2
successVisibility = 3
successIllegality = 0
successFund = 0

# --- IMPACT FAIL ---
failLegitimity = -2
failVisibility = 1
failIllegality = 0
failFund = 0

time = 2
PA = 1
cost = 0
