[activity]
name = Meditation sacree
description = Le gourou medite en isolement

# --- SPAWN CONDITION ---
spawnMinLegitimity = 0
spawnMinVisibility = 0
spawnMinIllegality = 0
spawnMinMember = 0
spawnMaxMember = 0

# --- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 0
successMaxMember = 0

# --- IMPACT SUCCESS ---
successLegitimity = 1
successVisibility = 0
successIllegality = -1
successFund = 0

# --- IMPACT FAIL ---
failLegitimity = 0
failVisibility = 0
failIllegality = 0
failFund = 0

time = 1
PA = 1
cost = 0


[activity]
name = Propagande de rue
description = En temps que gourou vous vous rendez au pres de vos fideles pour repandre la bonne parole

# --- SPAWN CONDITION ---
spawnMinLegitimity = 0
spawnMinVisibility = 0
spawnMinIllegality = 0
spawnMinMember = 0
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 0
successMaxMember = 0

# --- IMPACT SUCCESS ---
successLegitimity = 2
successVisibility = 3
successIllegality = 0
successFund = 0

# --- IMPACT FAIL ---
failLegitimity = -2
failVisibility = 1
failIllegality = 0
failFund = 0

time = 2
PA = 1
cost = 0


[activity]
name = Propagande de masse
description = Les membres recrutent dans la rue

# --- SPAWN CONDITION ---
spawnMinLegitimity = 2
spawnMinVisibility = 0
spawnMinIllegality = 0
spawnMinMember = 5
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 3
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 2
successMaxMember = 5

# --- IMPACT SUCCESS ---
successLegitimity = 2
successVisibility = 3
successIllegality = 0
successFund = 0

# --- IMPACT FAIL ---
failLegitimity = -2
failVisibility = 1
failIllegality = 0
failFund = 0

time = 2
PA = 1
cost = 0

[activity]
name = Sacrifice du mot de passe
description = Un membre revele son mot de passe le plus secret pour prouver sa loyautee

# --- SPAWN CONDITION ---
spawnMinLegitimity = 2
spawnMinVisibility = 1
spawnMinIllegality = 2
spawnMinMember = 1
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 1
successMinVisibility = 1
successMinIllegality = 0
successMinMember = 1
successMaxMember = -1

# --- IMPACT SUCCESS ---
successLegitimity = 2
successVisibility = 1
successIllegality = 1
successFund = 0

# --- IMPACT FAIL ---
failLegitimity = 0
failVisibility = 0
failIllegality = 0
failFund = 0

time = 1
PA = 1
cost = 0

[activity]
name = Ultime RITUAL.exe
description = Avec une legitimite divine et une fortune enorme, la secte lance le protocole final : le monde entier est converti ou efface. Tous les serveurs tombent, tous les appareils electroniques sont a vos pieds

# --- SPAWN CONDITION ---
spawnMinLegitimity = 50
spawnMinVisibility = 50
spawnMinIllegality = 50
spawnMinMember = 10
spawnMaxMember = -1
spawnMinFund = 1000

# --- SUCCESS CONDITION ---
successMinLegitimity = 50
successMinVisibility = 50
successMinIllegality = 50
successMinMember = 10
successMaxMember = -1

# --- IMPACT SUCCESS ---
successLegitimity = 100
successVisibility = 100
successIllegality = 100
successFund = -1000

# --- IMPACT FAIL ---
failLegitimity = -10
failVisibility = 10
failIllegality = 10
failFund = 0

time = 5
PA = 3
cost = 500

[activity]
name = Projet Trinity
description = Manipulation de la population en faisant croire a un monde virtuel. Plus rien n est reel

# --- SPAWN CONDITION ---
spawnMinLegitimity = 25
spawnMinVisibility = 25
spawnMinIllegality = 25
spawnMinMember = 5
spawnMaxMember = -1
spawnMinFund = 300

# --- SUCCESS CONDITION ---
successMinLegitimity = 25
successMinVisibility = 25
successMinIllegality = 25
successMinMember = 5
successMaxMember = -1

# --- IMPACT SUCCESS ---
successLegitimity = 10
successVisibility = 50
successIllegality = 30
successFund = -300

# --- IMPACT FAIL ---
failLegitimity = -5
failVisibility = 10
failIllegality = 5
failFund = 0

time = 3
PA = 2
cost = 300

[activity]
name = Git hub push
description = Vous incitez la population a spam les push git hub ce qui cree une panne mondiale et plusieurs bugs

# --- SPAWN CONDITION ---
spawnMinLegitimity = 5
spawnMinVisibility = 10
spawnMinIllegality = 9
spawnMinMember = 3
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 4
successMinVisibility = 4
successMinIllegality = 0
successMinMember = 3
successMaxMember = -1

# --- IMPACT SUCCESS ---
successLegitimity = 3
successVisibility = 5
successIllegality = 3
successFund = 0

# --- IMPACT FAIL ---
failLegitimity = -1
failVisibility = 2
failIllegality = 1
failFund = 0

time = 2
PA = 1
cost = 50

[activity]
name = Overclock du soleil
description = Les membres de la secte decident d overclocker le soleil pour accelerer le temps et finir le monde plus vite

# --- SPAWN CONDITION ---
spawnMinLegitimity = 60
spawnMinVisibility = 60
spawnMinIllegality = 60
spawnMinMember = 20
spawnMaxMember = -1
spawnMinFund = 1000

# --- SUCCESS CONDITION ---
successMinLegitimity = 60
successMinVisibility = 60
successMinIllegality = 60
successMinMember = 20
successMaxMember = -1

# --- IMPACT SUCCESS ---
successLegitimity = 20
successVisibility = 120
successIllegality = 120
successFund = -1000

# --- IMPACT FAIL ---
failLegitimity = -5
failVisibility = 30
failIllegality = 40
failFund = 0

time = 4
PA = 3
cost = 500

[activity]
name = Java destruction . exe
description = Destruction de Java, le C revient en force, tous les utilisateurs de java sont eradique

# --- SPAWN CONDITION ---
spawnMinLegitimity = 20
spawnMinVisibility = 20
spawnMinIllegality = 20
spawnMinMember = 15
spawnMaxMember = -1
spawnMinFund = 250

# --- SUCCESS CONDITION ---
successMinLegitimity = 60
successMinVisibility = 60
successMinIllegality = 60
successMinMember = 20
successMaxMember = -1

# --- IMPACT SUCCESS ---
successLegitimity = 6
successVisibility = 60
successIllegality = 60
successFund = -250

# --- IMPACT FAIL ---
failLegitimity = -3
failVisibility = 10
failIllegality = 20
failFund = 0

time = 3
PA = 2
cost = 250

[activity]
name = 67
description = La population entiere fait 67 siiiiiiiiiiiiiiix seveeeeeeeeeeeeeeeeeeen

# --- SPAWN CONDITION ---
spawnMinLegitimity = 6
spawnMinVisibility = 7
spawnMinIllegality = 6
spawnMinMember = 7
spawnMaxMember = -1
spawnMinFund = 67

# --- SUCCESS CONDITION ---
successMinLegitimity = 60
successMinVisibility = 60
successMinIllegality = 60
successMinMember = 20
successMaxMember = -1

# --- IMPACT SUCCESS ---
successLegitimity = 2
successVisibility = 3
successIllegality = 0
successFund = -67

# --- IMPACT FAIL ---
failLegitimity = -1
failVisibility = 1
failIllegality = 0
failFund = 0

time = 1
PA = 1
cost = 67