[event]
name = Descente de police
description = Les autorites surveillent la secte et decident de mener une enquete

# --- SPAWN CONDITION ---
spawnMinLegitimity = 0
spawnMinVisibility = 5
spawnMinIllegality = 7
spawnMinMember = -1
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 7
successMinIllegality = 8
successMinMember = -1
successMaxMember = -1

# --- IMPACT ---
impactLegitimity = -3
impactVisibility = 5
impactIllegality = 2
impactFund = -10
impactControl = 0



[event]
name = Don anonyme
description = Un bienfaiteur anonyme soutient la secte

# --- SPAWN CONDITION ---
spawnMinLegitimity = 5
spawnMinVisibility = 2
spawnMinIllegality = -1
spawnMinMember = -1
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 0
successMaxMember = -1

# --- IMPACT ---
impactLegitimity = 1
impactVisibility = 0
impactIllegality = -1
impactFund = 20
impactControl = 0


