[event]
name = Descente de police
description = Les autorites surveillent la secte et decident de mener une enquete

# --- SPAWN CONDITION ---
spawnMinLegitimity = 0
spawnMinVisibility = 5
spawnMinIllegality = 7
spawnMinMember = -1
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 7
successMinIllegality = 8
successMinMember = -1
successMaxMember = -1

# --- IMPACT ---
impactLegitimity = -3
impactVisibility = 5
impactIllegality = 2
impactFund = -10
impactControl = 0



[event]
name = Don anonyme
description = Un bienfaiteur anonyme soutient la secte

# --- SPAWN CONDITION ---
spawnMinLegitimity = 5
spawnMinVisibility = 2
spawnMinIllegality = -1
spawnMinMember = -1
spawnMaxMember = -1

# --- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 0
successMaxMember = -1

# --- IMPACT ---
impactLegitimity = 1
impactVisibility = 0
impactIllegality = -1
impactFund = 20
impactControl = 0


[event]
name = Mise a jour critique
description = Un membre de la secte installe une mise a jour critique sur tous les serveurs de la secte… et provoque un crash partiel

--- SPAWN CONDITION ---
spawnMinLegitimity = 10
spawnMinVisibility = 5
spawnMinIllegality = 2
spawnMinMember = 2
spawnMaxMember = -1

--- SUCCESS CONDITION ---
successMinLegitimity = 5
successMinVisibility = 5
successMinIllegality = 0
successMinMember = 2
successMaxMember = -1

--- IMPACT ---
impactLegitimity = -1
impactVisibility = 2
impactIllegality = 1
impactFund = -15
impactControl = 1

[event]
name = Hacker benevole
description = Un hacker externe offre ses services gratuitement pour booster la secte

--- SPAWN CONDITION ---
spawnMinLegitimity = 5
spawnMinVisibility = 0
spawnMinIllegality = 0
spawnMinMember = 1
spawnMaxMember = -1

--- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 0
successMinIllegality = 0
successMinMember = 0
successMaxMember = -1

--- IMPACT ---
impactLegitimity = 1
impactVisibility = 1
impactIllegality = -1
impactFund = 30
impactControl = 0

[event]
name = Virus informatique
description = Un virus externe infecte les machines de la secte, ralentissant tous les membres

--- SPAWN CONDITION ---
spawnMinLegitimity = 0
spawnMinVisibility = 10
spawnMinIllegality = 5
spawnMinMember = -1
spawnMaxMember = -1

--- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 10
successMinIllegality = 5
successMinMember = -1
successMaxMember = -1

--- IMPACT ---
impactLegitimity = -2
impactVisibility = 5
impactIllegality = 3
impactFund = -20
impactControl = -1


[event]
name = Rencontre VIP
description = Un influent informaticien rejoint la secte pour soutenir les projets du QQQ

--- SPAWN CONDITION ---
spawnMinLegitimity = 15
spawnMinVisibility = 5
spawnMinIllegality = 0
spawnMinMember = 3
spawnMaxMember = -1

--- SUCCESS CONDITION ---
successMinLegitimity = 10
successMinVisibility = 5
successMinIllegality = 0
successMinMember = 1
successMaxMember = -1

--- IMPACT ---
impactLegitimity = 5
impactVisibility = 3
impactIllegality = 0
impactFund = 50
impactControl = 0

[event]
name = Fuite de donnees
description = Un membre oublie de securiser un serveur et des informations sensibles sont publiees en ligne

--- SPAWN CONDITION ---
spawnMinLegitimity = 0
spawnMinVisibility = 15
spawnMinIllegality = 10
spawnMinMember = -1
spawnMaxMember = -1

--- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 10
successMinIllegality = 5
successMinMember = -1
successMaxMember = -1

--- IMPACT ---
impactLegitimity = -5
impactVisibility = 10
impactIllegality = 5
impactFund = -25
impactControl = -2

[event]
name = Infiltration
description = Un membre de la Java team infiltre votre secte et detruit plusieurs serveurs

--- SPAWN CONDITION ---
spawnMinLegitimity = 10
spawnMinVisibility = 15
spawnMinIllegality = 10
spawnMinMember = -1
spawnMaxMember = -1

--- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 10
successMinIllegality = 5
successMinMember = -1
successMaxMember = -1

--- IMPACT ---
impactLegitimity = -5
impactVisibility = -5
impactIllegality = 1
impactFund = -30
impactControl = -5


[event]
name = Epstein Files
description = vous  fetes fuiter des fichiers de l affaire epstein, vous detruisez le gouvernement

--- SPAWN CONDITION ---
spawnMinLegitimity = 20
spawnMinVisibility = 15
spawnMinIllegality = 10
spawnMinMember = -1
spawnMaxMember = -1

--- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 10
successMinIllegality = 5
successMinMember = -1
successMaxMember = -1

--- IMPACT ---
impactLegitimity = 5
impactVisibility = 15
impactIllegality = 1
impactFund = 0
impactControl = 5


[event]
name = Wake the fuck up samurai
description = une voix dans votre tete vous pousse a detruire ces corpo choom

--- SPAWN CONDITION ---
spawnMinLegitimity = 15
spawnMinVisibility = 15
spawnMinIllegality = 10
spawnMinMember = -1
spawnMaxMember = -1

--- SUCCESS CONDITION ---
successMinLegitimity = 0
successMinVisibility = 10
successMinIllegality = 5
successMinMember = -1
successMaxMember = -1

--- IMPACT ---
impactLegitimity = 2
impactVisibility = 15
impactIllegality = 20
impactFund = 0
impactControl = 3